# Cleaning PI Info
In order to prevent duplicate information used to train a model, store PI information separately from list of features.

**Eventually store as SQL database**

In [139]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import cleaning_strings as cln
import importlib as imp
imp.reload(cln);

## Local functions

In [140]:
def add_zero_zip(df, length, col1 = 'org_zipcode', col2 = 'org_country', country = 'united states'):
    zip_original = []
    zip_actual = []
    for zipcode in df.ix[(df[col1].str.len() == length) & (df[col2].str.contains(country))][col1]:
        zip_original.append(zipcode)
        zipcode = '0' + zipcode
        zip_actual.append(zipcode)
    return zip_original, zip_actual

## Basic text cleaning

In [141]:
all_info = pd.read_csv('grants_all.csv')
pi_info_raw = all_info['pi_ids pi_names org_name org_city org_state org_country org_zipcode'.split()]

In [142]:
pi_info_raw.head()

,pi_ids,pi_names,org_name,org_city,org_state,org_country,org_zipcode
0,10799126;,"scott, stuart alexander;",icahn school of medicine at mount sinai,new york,ny,united states,100296574
1,7017365;,"polster, brian m;",university of maryland baltimore,baltimore,md,united states,212011508
2,7354078; 1862210 (contact);,"walton, maureen a; zucker, robert alpert (cont...",university of michigan,ann arbor,mi,united states,481091276
3,2275890 (contact); 8742217; 6139020;,"dulac, catherine g (contact); regev, aviv ; zh...",harvard university,cambridge,ma,united states,21385369
4,9868481; 2063694 (contact);,"chen, xuesong ; geiger, jonathan david (contact);",university of north dakota,grand forks,nd,united states,582026059

In [143]:
pi_info_cleaned = cln.strip_df(pi_info_raw, ' ', ';', '.')

In [144]:
pi_info_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71872 entries, 0 to 71871
Data columns (total 7 columns):
pi_ids         71872 non-null object
pi_names       71872 non-null object
org_name       71766 non-null object
org_city       68527 non-null object
org_state      67740 non-null object
org_country    68528 non-null object
org_zipcode    68363 non-null object
dtypes: object(7)
memory usage: 3.8+ MB

In [145]:
pi_info_cleaned.head()

,pi_ids,pi_names,org_name,org_city,org_state,org_country,org_zipcode
0,10799126,"scott, stuart alexander",icahn school of medicine at mount sinai,new york,ny,united states,100296574
1,7017365,"polster, brian m",university of maryland baltimore,baltimore,md,united states,212011508
2,7354078; 1862210 (contact),"walton, maureen a; zucker, robert alpert (cont...",university of michigan,ann arbor,mi,united states,481091276
3,2275890 (contact); 8742217; 6139020,"dulac, catherine g (contact); regev, aviv ; zh...",harvard university,cambridge,ma,united states,21385369
4,9868481; 2063694 (contact),"chen, xuesong ; geiger, jonathan david (contact)",university of north dakota,grand forks,nd,united states,582026059

## Splitting PI Info
Some grants have multiple PIs listed on the grant, and the information for the group of PIs is listed only as the contact PI's information. In order to get unique PI information, these PI groups must be separated into individual PIs.

Split pi_info_cleaned into two dataframes, one containing grouped (multiple) PIs and one containing single PIs.

In [146]:
multi_pi_unsplit = pi_info_cleaned.ix[pi_info_cleaned['pi_ids'].str.contains('contact')]
pi_info = pi_info_cleaned.drop(multi_pi_unsplit.index)

Drop duplicates from unique PIs

In [147]:
pi_info.shape
pi_unique = pi_info.drop_duplicates('pi_ids')
pi_unique.shape
pi_unique.head()

(62262, 7)

(40104, 7)

,pi_ids,pi_names,org_name,org_city,org_state,org_country,org_zipcode
0,10799126,"scott, stuart alexander",icahn school of medicine at mount sinai,new york,ny,united states,100296574
1,7017365,"polster, brian m",university of maryland baltimore,baltimore,md,united states,212011508
5,1866930,"so, peter t",massachusetts institute of technology,cambridge,ma,united states,21421029
7,11044822,"gade, terence p",university of pennsylvania,philadelphia,pa,united states,191046205
8,9335858,"qi, ling",cornell university,ithaca,ny,united states,148502820

Split multiple PIs on PI ID.

In [148]:
multi_pi = cln.split_rows_pis(multi_pi_unsplit, 'pi_ids')
multi_pi.head()

,pi_names,org_name,org_city,org_state,org_country,org_zipcode,pi_ids
2,"walton, maureen a; zucker, robert alpert (cont...",university of michigan,ann arbor,mi,united states,481091276,7354078
2,"walton, maureen a; zucker, robert alpert (cont...",university of michigan,ann arbor,mi,united states,481091276,1862210 (contact)
3,"dulac, catherine g (contact); regev, aviv ; zh...",harvard university,cambridge,ma,united states,21385369,2275890 (contact)
3,"dulac, catherine g (contact); regev, aviv ; zh...",harvard university,cambridge,ma,united states,21385369,8742217
3,"dulac, catherine g (contact); regev, aviv ; zh...",harvard university,cambridge,ma,united states,21385369,6139020

Create a df where the '(contact)' string has been stripped from pi_ids; this will allow identification of unique PI IDs (otherwise an ID with '(contact)' appended at the end is viewed as a unique string).

In [149]:
multi_stripped = multi_pi.copy()
multi_stripped['pi_ids'] = multi_stripped['pi_ids'].str.strip(' (contact)')
multi_stripped.head()

,pi_names,org_name,org_city,org_state,org_country,org_zipcode,pi_ids
2,"walton, maureen a; zucker, robert alpert (cont...",university of michigan,ann arbor,mi,united states,481091276,7354078
2,"walton, maureen a; zucker, robert alpert (cont...",university of michigan,ann arbor,mi,united states,481091276,1862210
3,"dulac, catherine g (contact); regev, aviv ; zh...",harvard university,cambridge,ma,united states,21385369,2275890
3,"dulac, catherine g (contact); regev, aviv ; zh...",harvard university,cambridge,ma,united states,21385369,8742217
3,"dulac, catherine g (contact); regev, aviv ; zh...",harvard university,cambridge,ma,united states,21385369,6139020

Create columns in split multi_pi df denoting whether the PI is the contact and whether the PI ID is already present in the df pi_unique (which contains all PIs that are solo authors of a grant). If the PI is already in pi_unique, we do not need to separate their information again.

In [150]:
multi_pi['contact'] = multi_pi['pi_ids'].str.contains('contact')
in_pi_unique = multi_stripped['pi_ids'].isin(pi_unique['pi_ids'])
multi_pi['unique_pi'] = in_pi_unique
multi_pi.head()

,pi_names,org_name,org_city,org_state,org_country,org_zipcode,pi_ids,contact,unique_pi
2,"walton, maureen a; zucker, robert alpert (cont...",university of michigan,ann arbor,mi,united states,481091276,7354078,False,True
2,"walton, maureen a; zucker, robert alpert (cont...",university of michigan,ann arbor,mi,united states,481091276,1862210 (contact),True,False
3,"dulac, catherine g (contact); regev, aviv ; zh...",harvard university,cambridge,ma,united states,21385369,2275890 (contact),True,True
3,"dulac, catherine g (contact); regev, aviv ; zh...",harvard university,cambridge,ma,united states,21385369,8742217,False,True
3,"dulac, catherine g (contact); regev, aviv ; zh...",harvard university,cambridge,ma,united states,21385369,6139020,False,True

One PI is always designated as a contact if there are multiple PIs listed on a grant. If the PI's ID was not in the df pi_unique, but is listed as a contact (that is, unique_pi == False but contact == True), then we can isolate their information and add this information to pi_unique.

In [151]:
unique_contact = multi_pi[(multi_pi['unique_pi'] == False) & (multi_pi['contact'] == True)]
unique_contact = cln.split_rows_pis(unique_contact, 'pi_names')
unique_contact = unique_contact[unique_contact['pi_names'].str.contains('contact')]
unique_contact = cln.strip_series(unique_contact, ['pi_ids', 'pi_names'])
#unique_contact.shape
unique_contact = unique_contact.drop_duplicates('pi_ids')
unique_contact.shape
unique_contact.head()

(4078, 9)

,org_name,org_city,org_state,org_country,org_zipcode,pi_ids,contact,unique_pi,pi_names
2,university of michigan,ann arbor,mi,united states,481091276,1862210,True,False,"zucker, robert alpert"
18,clarkson university,potsdam,ny,united states,136995630,10420866,True,False,"philpott, sean m."
19,university of hawaii at manoa,honolulu,hi,united states,968222234,12546171,True,False,"pirkle, catherine mclean"
39,university of virginia,charlottesville,va,united states,229044195,1866186,True,False,"brautigan, david l."
45,university of washington,seattle,wa,united states,981959472,1896877,True,False,"glenny, robb w"

If the PI ID is neither listed in unique_pi nor are they ever listed as a contact, then we cannot identify whether their organization information is actually different from the contact PI's information. These names will therefore not be split (the IDs are already split).

**Note:** When doing analysis from multiple years, PI IDs should be cross-referenced across years in case a PI did have a solo grant in one year but not in others.

In [152]:
not_contact = multi_pi[(multi_pi['unique_pi'] == False) & (multi_pi['contact'] == False)]
not_contact = not_contact.drop_duplicates('pi_ids')
not_contact.head()

,pi_names,org_name,org_city,org_state,org_country,org_zipcode,pi_ids,contact,unique_pi
6,"eden, uri tzvi; frank, loren m; ganguli, surya...",cold spring harbor laboratory,cold spring harbor,ny,united states,117242209,9851446,False,False
6,"eden, uri tzvi; frank, loren m; ganguli, surya...",cold spring harbor laboratory,cold spring harbor,ny,united states,117242209,2291297,False,False
6,"eden, uri tzvi; frank, loren m; ganguli, surya...",cold spring harbor laboratory,cold spring harbor,ny,united states,117242209,12280974,False,False
6,"eden, uri tzvi; frank, loren m; ganguli, surya...",cold spring harbor laboratory,cold spring harbor,ny,united states,117242209,10329759,False,False
6,"eden, uri tzvi; frank, loren m; ganguli, surya...",cold spring harbor laboratory,cold spring harbor,ny,united states,117242209,12572655,False,False

Join all dfs containing unique PI ids.

In [167]:
#Reorder columns so joins can be performed correctly
cols1 = unique_contact.columns.tolist()
cols1 = cols1[-4:-3] + cols1[-1:] + cols1[0:5]
unique_1 = unique_contact[cols1]

cols2 = not_contact.columns.tolist()
cols2 = cols2[-3:-2] + cols2[0:6]
unique_2 = not_contact[cols2]

unique_multi = unique_1.append(unique_2)
#unique_multi.ix[unique_multi['pi_ids'].str.contains('contact')]
unique_multi = unique_multi.drop_duplicates('pi_ids')
unique_multi.shape

pi_unique.shape
pi_unique = pi_unique.append(unique_multi)
pi_unique = cln.strip_series(pi_unique, ['pi_ids'], strip = ' ')
pi_unique = pi_unique.drop_duplicates('pi_ids')
pi_unique.shape

(9686, 7)

(49790, 7)

(48753, 7)

## Fixing zipcodes
The leading zero of New England zipcodes were dropped in raw data. Add leading zero to zipcodes from the US that are length 8 or 4.

In [173]:
pi_unique['org_zipcode'].str.len().value_counts()

9.0     39599
8.0      6409
5.0       483
7.0       295
4.0       233
6.0        65
3.0        54
1.0        37
10.0        3
2.0         3
Name: org_zipcode, dtype: int64

In [174]:
zip_8, zip_9 = add_zero_zip(pi_unique, 8.0)
zip_4, zip_5 = add_zero_zip(pi_unique, 4.0)

In [175]:
pi_unique['org_zipcode'] = pi_unique['org_zipcode'].replace(zip_8, zip_9)
pi_unique['org_zipcode'] = pi_unique['org_zipcode'].replace(zip_4, zip_5)

In [176]:
pi_unique['org_zipcode'].str.len().value_counts()

9.0     45953
5.0       517
7.0       295
4.0       199
6.0        65
8.0        55
3.0        54
1.0        37
10.0        3
2.0         3
Name: org_zipcode, dtype: int64

## Adding information for PIs at the NIH

NIH city, state, country and zipcode information is not listed (listed as NaN). Add these as bethesda, md, united states and 20892, respectively. **Note:** This address may not be exact, as some NIH institutes/centers may be located elsewhere, but this information will represent general NIH information.

In addition to NIH institutes, there are 20 entries with a PI ID where no information is listed.

In [117]:
def add_nih_info(df, col_replace, replacement, org_name = 'org_name', org_country = 'org_country'):
    '''
    
    Add NIH information.
    NIH investigators are those whose organization is NOT null,
    but whose country is null.
    
    '''
    df.ix[~df[org_name].isnull() & df[org_country].isnull()][col_replace].replace(np.nan, replacement)
    return df

pi_unique = add_nih_info(pi_unique, col_replace = 'org_city', replacement = 'bethesda')
pi_unique = add_nih_info(pi_unique, col_replace = 'org_state', replacement = 'md')
pi_unique = add_nih_info(pi_unique, col_replace = 'org_zipcode', replacement = '20892')
pi_unique = add_nih_info(pi_unique, col_replace = 'org_country', replacement = 'united states')

## Final information

In [118]:
pi_unique.head()

,pi_ids,pi_names,org_name,org_city,org_state,org_country,org_zipcode
0,10799126,"scott, stuart alexander",icahn school of medicine at mount sinai,new york,ny,united states,100296574
1,7017365,"polster, brian m",university of maryland baltimore,baltimore,md,united states,212011508
5,1866930,"so, peter t",massachusetts institute of technology,cambridge,ma,united states,021421029
7,11044822,"gade, terence p",university of pennsylvania,philadelphia,pa,united states,191046205
8,9335858,"qi, ling",cornell university,ithaca,ny,united states,148502820

In [177]:
test_replace = pd.DataFrame(pi_unique.ix[~pi_unique['org_name'].isnull() & pi_unique['org_country'].isnull()]['org_state'].replace(np.nan, 'md'))
test = pi_unique.copy()
pd.merge(test, test_replace, how = 'left', left_index=True, right_index=True, suffixes=('', '_copy'))
#merge dfs, then merge columns via dropna

,pi_ids,pi_names,org_name,org_city,org_state,org_country,org_zipcode,org_state_copy
0,10799126,"scott, stuart alexander",icahn school of medicine at mount sinai,new york,ny,united states,100296574,NaN
1,7017365,"polster, brian m",university of maryland baltimore,baltimore,md,united states,212011508,NaN
2,1862210,"zucker, robert alpert",university of michigan,ann arbor,mi,united states,481091276,NaN
5,1866930,"so, peter t",massachusetts institute of technology,cambridge,ma,united states,021421029,NaN
6,9851446,"eden, uri tzvi; frank, loren m; ganguli, surya...",cold spring harbor laboratory,cold spring harbor,ny,united states,117242209,NaN
6,12280974,"eden, uri tzvi; frank, loren m; ganguli, surya...",cold spring harbor laboratory,cold spring harbor,ny,united states,117242209,NaN
6,10329759,"eden, uri tzvi; frank, loren m; ganguli, surya...",cold spring harbor laboratory,cold spring harbor,ny,united states,117242209,NaN
6,12572655,"eden, uri tzvi; frank, loren m; ganguli, surya...",cold spring harbor laboratory,cold spring harbor,ny,united states,117242209,NaN
6,11706552,"eden, uri tzvi; frank, loren m; ganguli, surya...",cold spring harbor laboratory,cold spring harbor,ny,united states,117242209,NaN
7,11044822,"gade, terence p",university of pennsylvania,philadelphia,pa,united states,191046205,NaN
8,9335858,"qi, ling",cornell university,ithaca,ny,united states,148502820,NaN
9,14380202,"boxer, matthew",translational science,NaN,NaN,NaN,NaN,md
10,10687426,"demner-fushman, dina",national library of medicine,NaN,NaN,NaN,NaN,md
11,9691085,"lakatta, edward",aging,NaN,NaN,NaN,NaN,md
12,10940848,"lozano, andres m.; lyketsos, constantine g (co...",johns hopkins university,baltimore,md,united states,212051832,NaN
13,1874169,"clarke, gregory n",kaiser foundation research institute,oakland,ca,united states,946123466,NaN
14,6796092,"guo, su","university of california, san francisco",san francisco,ca,united states,941186215,NaN
15,1939854,"loughran, thomas patrick",university of virginia,charlottesville,va,united states,229044195,NaN
16,10271451,"brewer, carmen crowell",deafness & other communication disorders,NaN,NaN,NaN,NaN,md
17,8821769,"steinman, michael a","university of california, san francisco",san francisco,ca,united states,941186215,NaN
18,10420866,"philpott, sean m.",clarkson university,potsdam,ny,united states,136995630,NaN
18,9315706,"gefenas, eugenijus ; philpott, sean m. (contac...",clarkson university,potsdam,ny,united states,136995630,NaN
18,2099855,"gefenas, eugenijus ; philpott, sean m. (contac...",clarkson university,potsdam,ny,united states,136995630,NaN
19,12546171,"pirkle, catherine mclean",university of hawaii at manoa,honolulu,hi,united states,968222234,NaN
19,14428423,"camara, saionara a; pirkle, catherine mclean (...",university of hawaii at manoa,honolulu,hi,united states,968222234,NaN
20,10518018,"andrews, jason randolph",stanford university,stanford,ca,united states,943041222,NaN
21,6828192,"van der maarel, silvere m",fred hutchinson cancer research center,seattle,wa,united states,981094433,NaN
22,1886390,"cox, adrienne d",univ of north carolina chapel hill,chapel hill,nc,united states,275990001,NaN
23,1897523,"gilbertson, scott r",university of texas medical br galveston,galveston,tx,united states,775555302,NaN
24,9849922,"vincent, kathleen listiak",oak crest institute of science,monrovia,ca,united states,910163412,NaN
...,...,...,...,...,...,...,...,...
71810,8070762,"doetzlhofer, angelika",johns hopkins university,baltimore,md,united states,212051832,NaN
71811,11228650,"lin, chin-hsing annie",university of texas san antonio,san antonio,tx,united states,782490600,NaN
71815,8256717,"palomero, teresa",columbia university health sciences,new york,ny,united states,100320049,NaN
71820,1876711,"brewer, bonita j",university of washington,seattle,wa,united states,981959472,NaN
71821,8080184,"kao, joseph pao yung; mayer, dirk (contact)",university of maryland baltimore,baltimore,md,united states,212011508,NaN
71822,10620424,"johnson, neil",research inst of fox chase can ctr,philadelphia,pa,united states,191112434,NaN
71826,1933301,"andley, usha p",washington university,saint louis,mo,united states,631304862,NaN
71827,8500799,"kostyukova, alla s",washington state university,pullman,wa,united states,991641060,NaN
71828,2084901,"bolton, eric c",university of illinois at urbana-champaign,champaign,il,united states,618207473,NaN
71831,9856365,"juliano, celina",university of california at davis,davis,ca,united states,956186153,NaN
71832,9829283,"mucida, daniel s",rockefeller university,new york,ny,united states,100656399,NaN
71834,7051421,"xu, yi",texas a&m university health science ctr,college station,tx,united states,778454375,NaN
71835,11678618,"gerner, michael",university of washington,seattle,wa,united states,981959472,NaN
71838,1873357,"sanderson, sam d",university of nebraska medical center,omaha,ne,united states,681987835,NaN
71841,7941754,"wei, huafeng",university of pennsylvania,philadelphia,pa,united states,191046205,NaN
71843,10672944,"machner, matthias",child health and human development,NaN,NaN,NaN,NaN,md
71845,9360788,"andrabi, shaida a",johns hopkins university,baltimore,md,united states,212051832,NaN
71846,1859065,"nagarkatti, mitzi",university of south carolina at columbia,columbia,sc,united states,292080001,NaN
71848,1870643,"samuelson, john c",boston university medical campus,boston,ma,united states,021182841,NaN
71851,7372587,"grippo, paul j",university of illinois at chicago,chicago,il,united states,606127224,NaN
71853,14753985,"gonsalves, lou",connecticut state dept of public health,hartford,ct,united states,061061367,NaN
71854,8964810,"sawicki, gregory stephen",north carolina state university raleigh,raleigh,nc,united states,276950001,NaN
71855,9248107,"ma, qing",state university of new york at buffalo,amherst,ny,united states,14228,NaN
71856,8712757,"margolis, seth s",johns hopkins university,baltimore,md,united states,212051832,NaN
71858,10059382,"bryant, monthaporn s",michael e debakey va medical center,houston,tx,united states,770304298,NaN
71859,10679030,"whiteside, lauren k",university of washington,seattle,wa,united states,981959472,NaN
71862,1883586,"smale, stephen t",university of california los angeles,los angeles,ca,united states,900952000,NaN
71865,8044606,"elasri, mohamed omar",university of southern mississippi,hattiesburg,ms,united states,394060001,NaN
71868,6490459,"clancy, colleen e",university of california at davis,davis,ca,united states,956186153,NaN
71870,10944221,"sharifai, nima",university of miami school of medicine,coral gables,fl,united states,331462926,NaN

In [115]:
pi_unique.ix[pi_unique['org_country'].isnull()]

,pi_ids,pi_names,org_name,org_city,org_state,org_country,org_zipcode
9,14380202,"boxer, matthew",translational science,NaN,NaN,NaN,NaN
10,10687426,"demner-fushman, dina",national library of medicine,NaN,NaN,NaN,NaN
11,9691085,"lakatta, edward",aging,NaN,NaN,NaN,NaN
16,10271451,"brewer, carmen crowell",deafness & other communication disorders,NaN,NaN,NaN,NaN
31,6569943,"kachar, bechara",deafness & other communication disorders,NaN,NaN,NaN,NaN
56,9692423,"warren, katherine e",basic sciences,NaN,NaN,NaN,NaN
63,6480161,"neumann, ronald",clinical center,NaN,NaN,NaN,NaN
68,14282131,"momenan, abdolreza",alcohol abuse and alcoholism,NaN,NaN,NaN,NaN
104,14747680,"cui, guohong",environmental health sciences,NaN,NaN,NaN,NaN
109,9692183,"harris, curtis",basic sciences,NaN,NaN,NaN,NaN
119,8831465,"mukoyama, yosuke","heart, lung, and blood institute",NaN,NaN,NaN,NaN
147,11982675,"woods, amina",national institute on drug abuse,NaN,NaN,NaN,NaN
178,12000928,"latour, lawrence",neurological disorders and stroke,NaN,NaN,NaN,NaN
215,11592683,"schneekloth, john",basic sciences,NaN,NaN,NaN,NaN
235,9692738,"eichacker, peter",clinical center,NaN,NaN,NaN,NaN
268,1895958,"subramaniam, sriram",basic sciences,NaN,NaN,NaN,NaN
304,9414635,"solomon, michael",clinical center,NaN,NaN,NaN,NaN
330,9690924,"gorospe, myriam",aging,NaN,NaN,NaN,NaN
332,6571332,"schwartzberg, pamela",human genome research,NaN,NaN,NaN,NaN
345,2091367,"pfeifer, karl eric",child health and human development,NaN,NaN,NaN,NaN
383,6858519,"mcvicar, daniel w",basic sciences,NaN,NaN,NaN,NaN
444,8778042,"st croix, bradley d",basic sciences,NaN,NaN,NaN,NaN
453,11982587,"bushnell, catherine",complementary & integrative health,NaN,NaN,NaN,NaN
480,14763841,"levine, ariel",neurological disorders and stroke,NaN,NaN,NaN,NaN
513,6569304,"smith, gilbert",basic sciences,NaN,NaN,NaN,NaN
547,9415243,"jacobson, kenneth","diabetes, digestive, kidney diseases",NaN,NaN,NaN,NaN
573,9692345,"udey, mark",clinical sciences,NaN,NaN,NaN,NaN
581,14380284,"maloney, david",translational science,NaN,NaN,NaN,NaN
587,10687759,"hammer, jeffrey",basic sciences,NaN,NaN,NaN,NaN
595,9691493,"quinn, thomas",niaid extramural activities,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
69300,12448148,"heery, christopher",basic sciences,NaN,NaN,NaN,NaN
69347,6570991,"balla, tamas",child health and human development,NaN,NaN,NaN,NaN
69402,8550852,"zaykin, dmitri v",environmental health sciences,NaN,NaN,NaN,NaN
69686,10824629,"chadwick, richard s",deafness & other communication disorders,NaN,NaN,NaN,NaN
69727,12465273,"driscoll, claire",human genome research,NaN,NaN,NaN,NaN
69821,7339777,"bolland, silvia",niaid extramural activities,NaN,NaN,NaN,NaN
69867,6571657,"landsman, david",national library of medicine,NaN,NaN,NaN,NaN
70013,9691295,"rao, vemulkonda",niaid extramural activities,NaN,NaN,NaN,NaN
70027,9693898,"dong, lijin",national eye institute,NaN,NaN,NaN,NaN
70071,9415209,"eaton, william","diabetes, digestive, kidney diseases",NaN,NaN,NaN,NaN
70072,9416030,"bushel, pierre",environmental health sciences,NaN,NaN,NaN,NaN
70303,9692329,"tarasov, sergey",basic sciences,NaN,NaN,NaN,NaN
70409,14588720,"schneiderman, neil",NaN,NaN,NaN,NaN,NaN
70439,6576764,"cunningham, lisa l",deafness & other communication disorders,NaN,NaN,NaN,NaN
70466,14784026,"johnson, norman",national cancer institute,NaN,NaN,NaN,NaN
70533,8778741,"mcmahon, james",basic sciences,NaN,NaN,NaN,NaN
70571,12029799,"best, robert","diabetes, digestive, kidney diseases",NaN,NaN,NaN,NaN
70675,6480407,"horwitz, barry",deafness & other communication disorders,NaN,NaN,NaN,NaN
70852,14608831,"cucca, francesco",NaN,NaN,NaN,NaN,NaN
70877,6230215,"eiden, lee e",national institute of mental health,NaN,NaN,NaN,NaN
70936,14731980,"weigert, roberto",basic sciences,NaN,NaN,NaN,NaN
71058,6111144,"dauter, zbigniew",basic sciences,NaN,NaN,NaN,NaN
71357,14784003,"zuhike, robert",national cancer institute,NaN,NaN,NaN,NaN
71481,9692823,"levin, ronald",clinical center,NaN,NaN,NaN,NaN
71524,6569730,"rabkin, charles",cancer epidemiology and genetics,NaN,NaN,NaN,NaN
71602,14658145,"mash, deborah",NaN,NaN,NaN,NaN,NaN
71642,12450466,"wang, xujing","heart, lung, and blood institute",NaN,NaN,NaN,NaN
71724,14761208,"histed, mark",national institute of mental health,NaN,NaN,NaN,NaN
71785,12674793,"moss, neil",NaN,NaN,NaN,NaN,NaN
71843,10672944,"machner, matthias",child health and human development,NaN,NaN,NaN,NaN

In [65]:
pi_unique.to_csv('pi_info.csv', index = False, compression = 'gzip')